extends ../layout/main
block variable
	- var version = "ua";
	
block meta
	title= 'Bereg Residence'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/libs.js')
	script(defer src="./assets/scripts/menu.js")
	script(defer src='./assets/scripts/index.js')
block content
	.ms 
		picture.ms__bg
			source( srcset="./assets/images/index/ms-bg-575.jpg" media="(max-width: 575px)")
			source( srcset="./assets/images/index/ms-bg-1680.jpg" media="(min-width: 1680px)")
			img(src="./assets/images/index/ms-bg.jpg" alt="MDN")
		.ms__slide
			.ms__title  Інфраструктур прямо у будинку
			.delimiter-with-logo
				.delimiter-with-logo__line
				+svg('logo').delimiter-with-logo__img
				.delimiter-with-logo__line
			.ms__subtitle  має все для комфорту
			.ms__link Перейти до розділу
		.ms__slide
			.ms__title  Інфраструктур прямо у будинку
			.delimiter-with-logo
				.delimiter-with-logo__line
				+svg('logo').delimiter-with-logo__img
				.delimiter-with-logo__line
			.ms__subtitle  має все для комфорту
			.ms__link Перейти до розділу
		a(href="web-camera.html").ms__square-link.ms__left-abs
			<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="46" height="46" fill="#496789"/>
			<rect x="17.5" y="17.5" width="11" height="11" fill="#496789" stroke="#E9D5A1"/>
			<path d="M33.5 28.191L28.5 25.691V20.309L33.5 17.809V28.191Z" stroke="#E9D5A1"/>
			</svg>
			.ms__square-link-span online camera 
		a(href="panorama.html").ms__square-link.column.ms__right-abs
			<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="46" height="46" fill="#496789"/> 
			<path d="M23.3453 18C16.8773 18 12 20.0229 12 22.7054C12 24.6164 14.4344 26.215 18.5121 26.9818C18.8094 27.0377 19.0958 26.8422 19.1513 26.5446C19.2072 26.2475 19.0117 25.9612 18.7144 25.9053C15.3532 25.2732 13.0951 23.9872 13.0951 22.7054C13.0951 20.9979 17.3047 19.0951 23.3453 19.0951C29.3862 19.0951 33.5961 20.9976 33.5961 22.7054C33.5961 23.8972 31.6394 25.0769 28.7333 25.7454L29.7383 24.8817C29.9677 24.6846 29.9938 24.339 29.7966 24.1096C29.5998 23.8807 29.2546 23.8542 29.0246 24.0513L26.5014 26.2199C26.5012 26.2202 26.5012 26.2202 26.5009 26.2204L26.4973 26.2235C26.4965 26.2243 26.496 26.2251 26.4949 26.2259C26.4817 26.2374 26.4705 26.2511 26.4585 26.264C26.447 26.276 26.4346 26.287 26.4242 26.3004C26.4229 26.302 26.4212 26.3037 26.4199 26.3053C26.4089 26.3198 26.4007 26.336 26.3911 26.3513C26.3832 26.3644 26.3739 26.3765 26.3667 26.3905C26.3572 26.4091 26.3506 26.4291 26.3435 26.4485C26.3405 26.4562 26.3372 26.4638 26.3347 26.4718C26.3325 26.4778 26.3292 26.4833 26.3276 26.4896C26.3276 26.4901 26.3276 26.4904 26.3273 26.4907C26.3249 26.4991 26.3243 26.5079 26.3221 26.5164C26.3161 26.5435 26.3104 26.5703 26.3082 26.598C26.3082 26.5985 26.3082 26.5991 26.3079 26.5996C26.3076 26.6056 26.3087 26.6125 26.3084 26.6185C26.3082 26.6262 26.309 26.6338 26.309 26.6412C26.3093 26.6623 26.3082 26.6831 26.3106 26.7039C26.3109 26.7059 26.3112 26.7078 26.3114 26.7097C26.3114 26.71 26.3114 26.7105 26.3114 26.7111C26.3142 26.731 26.3199 26.7497 26.3246 26.7688C26.3279 26.782 26.3295 26.7954 26.3336 26.8085C26.3336 26.8091 26.3339 26.8096 26.3339 26.8099C26.3446 26.8427 26.3585 26.8742 26.3747 26.9038C26.3758 26.906 26.3774 26.9079 26.3785 26.9098C26.3804 26.9131 26.3832 26.9158 26.3851 26.9191C26.3996 26.9432 26.4147 26.9665 26.4325 26.9878C26.4344 26.99 26.4357 26.9922 26.4377 26.9941C26.4382 26.9947 26.4385 26.9955 26.439 26.9961C26.4434 27.001 26.4486 27.0043 26.453 27.0092C26.4544 27.0106 26.456 27.0119 26.4574 27.0133C26.4724 27.0292 26.4872 27.0448 26.5039 27.0587C26.5097 27.0637 26.5151 27.0681 26.5212 27.0724C26.5296 27.079 26.5387 27.0845 26.5477 27.0902C26.5614 27.0995 26.5748 27.1086 26.5891 27.1168C26.5981 27.122 26.6071 27.1264 26.6167 27.131C26.6257 27.1354 26.6345 27.1395 26.6438 27.1433C26.658 27.1491 26.6723 27.154 26.6868 27.159C26.6931 27.1611 26.6988 27.1644 26.7051 27.1661L30.5665 28.262C30.6166 28.2762 30.6667 28.2831 30.7163 28.2831C30.955 28.2831 31.1743 28.1257 31.2427 27.8847C31.3254 27.5937 31.1565 27.2912 30.8655 27.2085L29.2535 26.751C32.6209 25.9286 34.6915 24.4327 34.6915 22.7062C34.6912 20.0229 29.8136 18 23.3453 18Z" fill="#E9D5A1"/>
			</svg>
			.ms__square-link-span огляд 360°
		.ms__social-wrap
			a(href="#").ms__social-link 
				+svg('facebook')
			a(href="#").ms__social-link 
				+svg('insta')
			a(href="#").ms__social-link 
				+svg('telegram')
			a(href="#").ms__social-link 
				+svg('viber')




block footer
block header



