extends ../layout/main
block variable
	- var version = "ua";
	
block meta
	title= 'IDEALIST Club Residence'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/libs.js')
	script(defer src="./assets/scripts/menu.js")
	script(defer src='./assets/scripts/index.js')
block content
	h1 Helo
block footer
block header



